#parent{
top: 100px;
width: 300px;
height: 200px;
background-color: red;
border-radius: 5px;
position: relative;


}
#child1{
position: absolute;
width: 80px;
height: 80px;
background-color: lightgray;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
top: -50px;
}
#child3{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -50px;
    right: 0px;
    }
    #child2{
position: absolute;
left: 80px;
width: 140px;
height: 120px;
border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
        
    }